h1,h2{
    text-align:center;
    background:#999999;
}
p{
    padding: 0 5%;
}
body{
    font-family:Helvetica;
    margin:0
}

.expand2{
    text-align:center;
    display:block;
    background:#ddd
}
